<div class="center jumbotron">
  <div class="text-center">
    <h1>連絡帳</h1>
    <div class="button">
    <ul>
      <div class="signup-button">
    <li><%= link_to '新規登録する', signup_path, class: 'btn btn-lg btn-pink100_rsd' %></li>
      </div>
      <div class="login-button">
    <li><%= link_to 'ログインする', login_path, class: 'btn btn-lg btn-pink100_rsd' %></li>
      </div>
    </ul>
    </div>
  </div>
</div>
